@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: red;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid palevioletred;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    transition-duration: 2s;
}

.cta:hover {
    color: white;
    background-color: hotpink;
    border: 1px solid white;
}


.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

#intro {
    background-image: url(./image/purba3.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#intro::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#intro .intro {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#intro h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#intro h1:nth-child(1) {
    animation-delay: 1s;
}

#intro h1:nth-child(2) {
    animation-delay: 2s;
}

#intro h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#intro h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: pink;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}

#intro h1:nth-child(1) span {
    animation-delay: .5s;
}

#intro h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#intro h1:nth-child(3) span {
    animation-delay: 2.5s;
}


#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 460px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
}
#about .col-right .cta{
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .about-img img{
    width: 400px;
}
#about .col-left .about-img{
    position: relative;
    border: 10px solid white;

}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;

}

#educations .educations {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#educations .section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

#educations .section-title span {
    color: red;
}

#educations .education-top p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
}

#educations .education-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    margin: 10px 5%;
}

#educations .education-item {
    border: 2px solid black
}
#educations .education-bottom .education-item{
    gap: 50px;
}
#educations .education-bottom{
    gap: 50px;
}
#educations .education-item h2{
   text-align: center;
}
#educations .image img{
    gap: 10px;
}
#educations .image1 h2{
    gap: 50px;
}
#educations .image {
    background-image: url(./image/nawab.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#educations .image1 {
    background-image: url(./image/cvgc1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#educations .image2 {
    background-image: url(./image/baiust\ inter.jpeg);
    background-size: cover;
    width: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#educaions .education-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#grades .grades {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#grades .grades-header h1 {
    margin-bottom: 20px;
}

#grades .all-grades {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#grades .grades-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid black;
    gap: 30px;
    background-color: antiquewhite;
    transition-duration: 2s;
}

#grades .grades-item:hover {
    background-color: lavender;
}

#grades .grade-info {
    padding: 30px;
    flex-basis: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: -o-linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: black;
    gap: 20px;
}

#grades .grade-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#grades .grade-info p {
    font-size: large;
}

#grades .grade-img {
    flex-basis: 50%;
}

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
    transition-duration: 2s;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
    background-color: cornflowerblue;
    transition-duration: 2s;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
    background-color: antiquewhite;
    padding: 10px;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: hotpink;
        font-weight: 500;
    }
}